.idea/
/*/.idea/
/*/*.py[cod]
.vscode/
.DS_Store
/*/.DS_Store
*.xml

build/

dist/

__pycache__

*.egg
*.egg-info

.empty/
.pytest_cache/

test/ex-ccp.tar.gz
test/ex-ccp/
test/ex-rfani.tar.gz
test/ex-rfani/
test/ex-prf.tar.gz
test/ex-prf/
test/._*
test/RFresult/
test/RFdepth.npy
