
.idea/.name

.idea/dictionaries/xumj.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/PyCCP.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace-NSConflict-xumi1993.xml

.idea/workspace.xml
